.button {
    margin-right: 0.25%;
    margin-left: 0.25%;
    width: 4.7%;
}

th {
    cursor: pointer;
    user-select: none; /* Disable text selection */
}

th .sort-arrow {
    margin-left: 8px;
}

th .sort-arrow::before {
    content: '';
    border: 5px solid transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    display: inline-block;
    vertical-align: middle;
}

th.asc .sort-arrow::before {
    border-bottom-color: black;
}

th.desc .sort-arrow::before {
    border-top-color: black;
}

th .sort-arrow {
    visibility: hidden; /* Hide arrows by default */
}

th.sorted .sort-arrow {
    visibility: visible; /* Show arrows when column is sorted */
}