{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Log In{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 id="purp">Log In</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class=" alert alert-{{category}}" id="hideMe" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <form method="post">
        {{ form.hidden_tag() }}
        {{ render_hidden_errors(form) }}
        {{ render_field(form.email)}}
        {{ render_field(form.password)}}
        {{ render_field(form.submit)}}
    </form>
</div>
{% endblock %}