{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class=" alert alert-{{ category }}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1 class="text-center">Register</h1>
    {{ render_form(form) }}
</div>
{% endblock %}